body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-screen {
    height: 50%;
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
}

.sub-screen {
    height: 50%;
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
}

.retro-screen {
    width: 80%;
    height: 80%;
    background-color: black;
    border: 2px solid white;
    color: white;
    margin: 10% auto;
    -webkit-app-region: no-drag;
}

/* 뒤로가기 버튼 스타일 */
.back-button {
    position: fixed;
    top: 2.5%;
    right: 5%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.50;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.back-button:hover {
    color: lightgray;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
