body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.add-task {
    display: flex;
    flex-direction: column;
}

.remind,
.completed {
    font-size: 1rem;
}

.completedList {
    display: none;
    /* 기본적으로 끝난 일 항목을 접혀 있도록 함 */
}

.remindList,
.completedList {
    display: none;
    /* 기본적으로 끝난 일 항목을 숨김 */
}

.completedList.show {
    display: block;
    /* 보이도록 함 */
}